html, body{
    margin: 0;
}

header{
    background-color: #6387A6;
    color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.fontetexto{
    font-family: 'Comfortaa', cursive;
}

.fonteparagrafo{
    font-family: 'Comfortaa', cursive;
}

#logo{
    width: 40px;
    margin-top: 1%;
    margin-left: 1.5%;
    position: absolute;
}

#menu{
    border: 2px;
    float: right;
    margin-right: 3%;
    list-style: none;
    margin-top: 0;
}

li{
    border: 2px;
    float: left;
    padding: 20px 10px 20px 10px;
}

li:hover{
    background-color:#919CB2;
}

a{
    text-decoration: none;
    color: black;
}

#Infraestrutura{
    background: url(infraestrutura.jpg);
    background-size: 1500px;
    height: 730px;
    text-align: center;
    padding: 30px;
}

#título{
    font-family: 'Rowdies', cursive;
    color:white;
    padding-top: 20%;
    font-size: 50px;
    line-height: 1;
    text-align: center;    
}

#subtitulo{
    font-family: 'Rowdies', cursive;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
    text-align: center;
}

#acao{
    color: white;
    border: 1px white solid;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-decoration: none;

}

#importancia{ 
    color: black;
    padding: 30px;
}

#Objetivos{
     color:black;
    padding: 30px;
}

.img{
    width: 70%;
}

.coluna{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}

.colunatres{
    float: left;
    padding: 0 2%;
    position: relative;
    width: 29%;
}

.colunadois{
    float:left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}

.justificado{
    text-align: justify;
}

.centralizado{
    text-align: center;
}

.icone{
    width: 30%;
}

.iconedois{
    width: 5%;
    padding-left: 50%;
}

section{
    padding: 20px;
    float: left;
}

.topo{
    margin-top: 20%;
}

.topoespaço{
    margin-top: 3%;
}

.topoespaçodois{
       padding-top:4% ;
}

footer{
    background-color: #6387A6;
    float: left;
    width: 100%;
}

#acaodois{
    color: black;
    border: 1px black solid;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    font-size: 12px;
    text-decoration: none;
}

.topoimagens{
    margin-top: 2%;
}


@media all and (max-width: 768px){
    #menu{
        visibility: hidden;
    }

    .coluna, .colunaquatro, .colunatres, .colunadois{
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
        text-align: center;
    }

    #logodiv{
        position: relative;
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }

    #logo{
        transform: translateX(-50%);
        margin: 1.5% 0 0 0;
    }

    .título, .subtítulo{
        font-family:'Comfortaa', cursive;
    }
}

